In [17]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [18]:
df=pd.read_csv('la_rest_types.csv', index_col=False)

In [19]:
# df.sample()
df.head(2)

,id,name,address,category_title,rating,review_count,lat,lon,zipcodes
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Middle Eastern,4.0,349,34.159455,-118.267173,91202
1,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Barbeque,4.0,349,34.159455,-118.267173,91202

In [20]:
df=df[df.zipcodes.str.startswith('9')]

In [21]:
# df.isnull()

In [22]:
df['category_title'].replace(' ', np.nan, inplace=True)

In [23]:
# df.isnull()

In [24]:
df.dropna(inplace=True)

In [25]:
df.reset_index(drop=True)
df.sample(2)

,id,name,address,category_title,rating,review_count,lat,lon,zipcodes
12792,b5Zq2SM4LFf9nDMUMfwgxA,Jack in the Box,"4170 Lakewood Blvd Long Beach, CA 90808",Tacos,3.0,36,33.833393,-118.142268,90808
18701,ebVDYS4h52Uw_7svALt82Q,Honey Baked Ham Company,"2428 W Whittier Blvd La Habra, CA 90631",Sandwiches,4.0,52,33.939320,-117.973947,90631

In [26]:
# df.isnull()

In [27]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from matplotlib.pyplot import figure

In [28]:
api_key = ''

In [29]:
import gmaps


# Access maps with unique API key
gmaps.configure(api_key=api_key)

In [30]:
# bestR=aT[(aT["review_count"]>=500) & (aT["rating"]== 5)]

In [31]:
# bestR=aT[(aT["review_count"]>=500) & (aT["rating"]== 5)]

# lat=list(bestR['lat'])
# lon=list(bestR['lon'])

# zip(lat, lon)
# coordinates = [x for x in zip(lat, lon)]



# # Customize the size of the figure
# figure_layout = {
#     'width': '400px',
#     'height': '300px',
#     'border': '1px solid black',
#     'padding': '1px',
#     'margin': '0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)
# rest_name=bestR['name'].tolist()
# # Assign the marker layer to a variable
# info_box_content=[f"Restaurant name: {name}" for name in rest_name]
# markers = gmaps.marker_layer(coordinates, info_box_content=info_box_content )
# heat_layer = gmaps.heatmap_layer(coordinates, weights=bestR['rating']-5, 
#                                  dissipating=False, max_intensity=5,
#                                  point_radius = .018)
# # Add the layer to the map
# fig.add_layer(heat_layer)
# fig.add_layer(markers)
# fig